extends layout

block content
  div#editor 
  div#console
    div#output
      .report(data-type='metrics', style='display:none')
        h4 Metrics
        div

      h4 Error: 
      table.report(data-type='errors')

      h4 Undefined:
      table.report(data-type='undef')

      h4 Unused variables:
      table.report(data-type='unused') 
                                              

  script#text-intro(type='text/jshint').
    var sum = 0;
    for(var i=0; i< 10; i++) {
      sum += i;
    }

    console.log('Sum is ' + sum);