extends layout

block content
  div#editor 
  div#console

  script#text-intro(type='text/jshint').
    var sum = 0;
    for(var i=0; i< 10; i++) {
      sum += i;
    }

    console.log('Sum is ' + sum);