extends layout

block content
  div#editor 
  div#console
    p Output
    div#output
  
    p -----------
        
    p error: 
    table.report(data-type='errors')
  
    p undefined:
    table.report(data-type='undef')
    
    p unused variables:
    table.report(data-type='unused') 
            
  script#text-intro(type='text/jshint').
    var sum = 0;
    for(var i=0; i< 10; i++) {
      sum += i;
    }

    console.log('Sum is ' + sum);